{% extends "base.html" %}
{% block title %}О нас{% endblock %}

{% block content %}
    <div class="container">
        <strong>Gthtdjlxbr</strong>, как понятно из названия - переводит текст пользователя с "английского" на русский.
        Такую программу я пишу каждый раз, когда я изучаю новый язык программирования.
    </div>

    <div class="container">
        Эта версия переводчика не написана на одном языке программирования - он собрал все мои навыки программирования,
        которые у меня были, в один, пусть и небольшой, проект.
        Все исходники, а также другие версии переводчиков, Вы можете увидеть на моём гитхаб(ссылка будет скоро).
    </div>

{% endblock %}